{% extends 'base2.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table" id="t">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Password</th>
				<th>Username</th>
				<th>Age</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Poste</th>
				<th>Telephone</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody id="myTable">
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.password }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.age }}</td>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.poste }}</td>
					<td>{{ user.telephone }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}">Create new</a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
$("#myInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#myTable tr").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
});
	</script>
{% endblock %}
